* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 700;
    font-size: 1em;
    color: #e0def4;
}

/* --------------------------------------- Common Styles -------------------------------------- */

/* Style for module */
.module {
    margin-right: 8px;
    padding: 0 5px;
}

/* Remove the `margin-right` for the last module */
.last-widget {
    margin-right: 0;
}

/* Make the bar transparent */
.bar {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1em;
}

.separ {
    color: #3e424f;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
  }

.workspace_btn {
    background: transparent;
    padding: 0 8px 0px 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: 0px;
    border: none;
}

.workspace_btn:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color: #9ccfd8;
}

.workspace_label {
    color: #6bd1ed;
    font-size: 16px;
}

.net_status {
    color: #9ccfd8;
}

.batbar {
    color: #008B8B;
}

.membar {
    color: #4682B4;
}

.cpubar {
    color: #FF6347;
}

.bat_module,
.cpu_module,
.mem_module {
    margin: 0px 10px 0px 10px;
}

.iconbat,
.iconmem,
.iconcpu {
    font-size: 4em;
    background-color: transparent;
    border: none;
}

// Clock
.clock_time_sep {
    font-size: 20;
    color: #bfc9db;
    margin: 0px 4px 1px 4px;

}

.clock_time_class,
.clock_minute_class {
    font-size: 25;
}

.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: #d7beda;
    background-color: transparent;
}

.clock_date_class:hover {
    background-color: #6bd1ed;
}

.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: #bfc9db;
}

.clock_time_class {
    color: #bfc9db;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

// Calender

calender {
    color: #bfc9db;
}

calendar:selected {
    color: #a1bdce;
}

calendar.header {
    color: #a1bdce;
    font-weight: bold;
}

calendar.button {
    color: #afbea2;
}

calendar.highlight {
    color: #a1bdce;
    font-weight: bold;
}

calendar:indeterminate {
    color: #bfc9db;
}

/* -------------------------------------- Desktop Widget -------------------------------------- */

.desktop {
    background-color: transparent;
}

.desktop_clock {
    padding: 40px 35px;
}

.desktop_time {
    font-size: 96px;
}

.desktop_time_h,
.desktop_time_m {
    color: #eb6f92;
}

.desktop_time_colon {
    color: #e0def4;
}

.desktop_time_p {
    color: #eb6f92;
}

.desktop_date_date {
    margin-left: 10px;
}

.desktop_date {
    font-size: 32px;
    color: #eb6f92;
}

/* -------------------------------------Powermenu Widget---------------------------------------*/
.powermenu {
    background: transparent;
    margin-left: 1em;
    margin-right: 1em;
}

.powermenu_container {
    background-color: transparent;
    margin-right: 0.6em;
}

.powermenu_button {
    background: transparent;
    border: none;
}

.powermenu_label_restart {
    color: #c4a7e7;
    font-size: 32px;
}

.powermenu_label {
    font-size: 32px;
    background-color: transparent;
    border: none;
    margin-right: 0.2em;
}

.powermenu_label:hover {
    background-color: #eb6f92;
}

.powermenu_label_poweroff {
    color: #eb6f92;
}

.powermenu_label_restart {
    color: #ffcc00;
}

.powermenu_label_logout {
    color: #ff7043;
}