/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    padding: 0 0;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    /* padding-bottom: 2px; */
  }
  
  window#waybar {
    background: rgba(0, 0, 0, 0);
  }
  
  #workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #7aa2f7;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }
  
  #workspaces button.active {
    background: #24283b;
    color: #b4f9f8;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }
  
  #workspaces button:hover {
    background: #7aa2f7;
    color: #cfc9c2;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }
  
  #clock,
  #battery,
  #cpu,
  #memory,
  #idle_inhibitor,
  #temperature,
  #custom-keyboard-layout,
  #backlight,
  #network,
  #pulseaudio,
  #tray,
  #window,
  #custom-launcher,
  #custom-power,
  #custom-pacman,
  #custom-network_traffic
  {
    padding: 0 3px;
    border-style: solid;
  }


  #clock,
  #window {
    border-width: 1px;
    border-color: whitesmoke;
  }
  
  /* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */
  
  #battery.charging {
    color: #81a1c1;
  }
  
  @keyframes blink {
    to {
      color: #4c566a;
      background-color: #eceff4;
    }
  }
  
  #battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

/* Group Hardware Config */

  #cpu,
  #memory,
  #battery,
  #disk {
    margin: 0;
    padding: 0;
  }

  
  #cpu {
    padding-left: 0.5em;
    border-radius: 10 0 0 10;
  }
  #disk {
    padding-right: 0.5em;
    border-radius: 0 10 10 0;
  }
  
  #network.disabled {
    color: #bf616a;
  }
  
  #network {
    color: #a3be8c;
  }
  
  #network.disconnected {
    color: #bf616a;
  }
  
  #pulseaudio {
    color: #b48ead;
  }
  
  #pulseaudio.muted {
    color: #3b4252;
  }
  
  #temperature {
    color: #8fbcbb;
  }
  
  #temperature.critical {
    color: #bf616a;
  }
  
  #idle_inhibitor {
    color: #ebcb8b;
  }
  
  #custom-launcher,
  #custom-power {
    border-style: hidden;
    padding: 0 10 0 10;
    margin-top: 2px;
  }
  
  #window {
    border-style: hidden;
    margin-top: 1px;
  }
  #custom-keyboard-layout {
    color: #d08770;
  }
  #custom-network_traffic {
    color: #d08770;
  }

  /* Group Device Config */
  #bluetooth,
  #pulseaudio
  #backlight {
    padding: 0 10 0 10;
  }

  #backlight {
    border-radius: 10 0 0 10;
  }

  #pulseaudio {
    border-radius: 0 10 10 0;
  }
  #custom-separator,
  #way,
  #clock,
  #battery,
  #cpu,
  #disk,
  #memory,
  #idle_inhibitor,
  #temperature,
  #custom-keyboard-layout,
  #backlight,
  #network,
  #pulseaudio,
  #window,
  #bluetooth,
  #tray,
  #window,
  #custom-launcher,
  #custom-power,
  #custom-pacman,
  #custom-network_traffic,
  #custom-weather,
  #custom-linkedin,
  #custom-chatgpt,
  #hyprland-window,
  #workspaces,
  #taskbar {
    color: #7aa2f7;
    background: #24283b;
    opacity: 1;
    margin: 4px 0px 4px 0px;
  }

  #hyprland-window,
  #workspaces,
  #clock,
  #taskbar,
  #custom-power,
  #tray,
  #network {
    border-radius: 10;
    border: whitesmoke 1px;
  }
  
  #taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #bb9af7;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }
  
  #taskbar button.active {
    background: whitesmoke;
    color: #b4f9f8;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }
  
  #taskbar button:hover {
    background: #7aa2f7;
    color: #cfc9c2;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  }